In [1]:
v1 = input('Digite um valor inteiro: ')
v2 = input('Digite outro valor inteiro: ')

In [2]:
print(v1 == v2)
print(v1 > v2)
print(v1 < v2)
print(v1 >= v2)
print(v1 <= v2)

True
False
False
True
True

In [ ]:
L1 = []
L2 = list()

In [ ]:
dias = [3, 1, 10]

print(dias[0]) #3

print(dias[1]) #1

print(dias[2]) #10

In [ ]:
Z = [3, 8, 9]

Z[0] = 7

print(Z) #[7, 8, 9]

In [ ]:
a = [81, 82, 83]
b = a[:]
print(a==b)

In [ ]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

print(uma_lista[1:3])
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

In [7]:
lista = [76, 92.3, 'oi', True, 4, 76]

lista.append('pitomba')

lista.append(76)

lista.insert(3, 'Cibele')

lista.insert(0, 99)

lista.index("oi")

lista.pop(lista.index(True))

True

In [8]:
lista2 = [4, 2, 8, 6, 5]

lista2 = lista + ['Cibele']

print(lista2)

[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76, 'Cibele']

In [12]:
d = {
    'laranjas': 15,
    'bananas': 35,
    'siriguelas': 12
}

d['bananas']

35

In [ ]:
d['pitombas'] = 20

len(d)

In [ ]:
frutas = ['pinha', 'oiti corÃ³', 'jaca', 'tamarindo']

print([1, 2] + [3, 4])

print(frutas + [6, 7, 8, 9])

print([0]*4)
print([1, 2, ['oi', 'tchau']])