In [13]:
import pandas as pd
import numpy as np

In [14]:
meusDados = np.matrix('1,2,3;4,5,6;7,8,9;10,11,12')
meusDados

meuDf = pd.DataFrame(meusDados)

In [15]:
indice = ['Linha' + str(i) for i in range(4)]

In [16]:
colunas = ['Coluna' + str(i) for i in range(3)]

In [17]:
df2 = pd.DataFrame(data=meusDados, index=indice, columns=colunas)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [18]:
df3 = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
       'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
       'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}
            }

df3

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [19]:
df3 = pd.DataFrame(df3)

df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [20]:
df4 = pd.concat([meuDf, df2, df3])
df4

           0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0